[Unit]
Description=Apple Multicast DNS / DNS Service Discovery daemon
After=network.target local-fs.target

[Service]
Type=forking
ExecStart=/usr/bin/mdnsd
PIDFile=/var/run/mdnsd.pid

[Install]
WantedBy=multi-user.target
